.container{
  display: flex;
}

.player {
    margin: 0 auto;
    width: 500px;
    border: solid 1px lightgray;
    padding: 5px;
    text-align: center;
    box-shadow: 0 10px 5px 0 lightgray;
    float: left;
}

.enemy {
    margin: 0 auto;
    width: 500px;
    border: solid 1px lightgray;
    padding: 5px;
    text-align: center;
    box-shadow: 0 10px 5px 0 lightgray;
    float: right;
}

input[type="text"], input[type="number"], label {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  body {
    background-color:black;
    color: lightgray;
    font-family: 'Impact';
  }

  .button-div {
  height: 50px;
  position: relative;
  padding: 20px;
  }

  .btn {
      font-family: 'Impact';
      font-size: 20px;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 50%;
  }
  #form {
    margin-top: 20px;
  }

h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0%;
  color: lightgray;
  font-family: 'Impact';
  margin-left: 35%;
}
