
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		/*background-color: #1e252d;*/
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	html {
		font-size: 16pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	body {
		/*color: #212931;*/
	}

	body, input, select, textarea {
		font-family: "Merriweather", Georgia, serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 2.375;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		border-bottom: dotted 1px;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		text-align: justify;
		margin: 0 0 2rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin: 0 0 1rem 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border-bottom: 0;
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 4rem;
		line-height: 1.1;
		margin: 0 0 2rem 0;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 1.3;
		margin: 0 0 1.5rem 0;
	}

	h3 {
		font-size: 1.25rem;
		margin: 0 0 1.5rem 0;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	h6 {
		font-size: 0.8rem;
	}

	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.8rem;
		position: relative;
		top: -0.5rem;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2rem 0;
		padding: 0.5rem 0 0.5rem 2rem;
	}

	code {
		border: solid 2px;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0.25rem;
		padding: 0.25rem 0.65rem;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0 2rem 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 2px;
		margin: 3rem 0;
	}

		hr.major {
			margin: 5rem 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #212931;
	}

	a {
		color: #212931;
		border-bottom-color: rgba(33, 41, 49, 0.5);
	}

		a:hover {
			border-bottom-color: transparent;
			color: #18bfef !important;
		}

	strong, b {
		color: #212931;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #212931;
	}

	blockquote {
		border-left-color: #eeeeee;
	}

	code {
		background: rgba(220, 220, 220, 0.25);
		border-color: #eeeeee;
	}

	hr {
		border-bottom-color: #eeeeee;
	}


/* Header */
	#header {
		color: black;
		height: 1.1rem;
		padding-bottom: 7rem;
		position: relative;
		text-align: center;
		z-index: 2;
    margin: 1rem;
	}

    #header p {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      font-size: 16px;
    }

		#header input, #header select, #header textarea {
			color: black;
		}

		#header a {
			color: black;
			border-bottom-color: rgba(255, 255, 255, 0.5);
		}

			#header a:hover {
				border-bottom-color: transparent;
				color: #18bfef !important;
			}

		#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
			color: black;
      font-size: 50px
		}

		#header hr {
			border-bottom-color: black;
		}


		@media screen and (max-width: 980px) {

			#header {
				height: 14rem;
				padding-bottom: 4rem;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding-bottom: 3rem;
			}

		}

    /* Main */

    	#main {
    		background-color: white;
    		position: relative;
    		margin: 0 auto;
    		width: calc(100% - 4rem);
    		max-width: 72rem;
    		z-index: 2;
        text-align: center;
        font-size: 1rem;
    	}

    		#main > * {
    			padding: 2rem 2rem 2rem 2rem ;
    			margin: 0;
    		}


    /* Footer */

    	#footer {
        border-top: solid 3px black; /*Line between footer and main*/
    		color: black;
        display: block;
    		background-color: white;
    		cursor: default;
    		margin: 0 auto;
    		width: calc(100% - 4rem);
    		max-width: 72rem;
    		z-index: 2;
        padding-top: 1rem;
        padding-bottom: 1rem;
    	}

    		#footer a {
    			color: blue;
    			border-bottom-color: rgba(113, 121, 129, 0.5);
    		}

    			#footer a:hover {
    				border-bottom-color: transparent;
    				color: #18bfef !important;
    			}

    		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    			color: #717981;
    		}

    		#footer hr {
    			border-bottom-color: black;
    		}


    		#footer p {
          color: black;
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          text-align: center;
          font-size: 14px;
    		}

/* Wrapper */

          	#wrapper {
          		-moz-transition: opacity 0.5s ease;
          		-webkit-transition: opacity 0.5s ease;
          		-ms-transition: opacity 0.5s ease;
          		transition: opacity 0.5s ease;
          		position: relative;
          		z-index: 1;
          		overflow: hidden;
              background: linear-gradient(0deg, rgba(34,89,195,1) 9%, rgba(45,253,209,1) 100%);
              padding-bottom: 2rem;
          	}


            /* Button */

            	input[type="submit"],
            	input[type="reset"],
            	input[type="button"],
            	button,
            	.button {
            		-moz-appearance: none;
            		-webkit-appearance: none;
            		-ms-appearance: none;
            		appearance: none;
            		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
            		border: 0;
            		border-radius: 0;
            		cursor: pointer;
            		display: inline-block;
            		font-family: "Source Sans Pro", Helvetica, sans-serif;
            		font-size: 0.8rem;
            		font-weight: 900;
            		letter-spacing: 0.075em;
            		height: 3rem;
            		line-height: 3rem;
            		padding: 0 2rem;
            		text-align: center;
            		text-decoration: none;
            		text-transform: uppercase;
            		white-space: nowrap;
            	}

            		input[type="submit"].icon:before,
            		input[type="reset"].icon:before,
            		input[type="button"].icon:before,
            		button.icon:before,
            		.button.icon:before {
            			margin-right: 0.5rem;
            		}

            		input[type="submit"].icon.solo,
            		input[type="reset"].icon.solo,
            		input[type="button"].icon.solo,
            		button.icon.solo,
            		.button.icon.solo {
            			position: relative;
            			width: 4rem;
            			height: 4rem;
            			line-height: 4rem;
            			border-radius: 4rem;
            			text-indent: 4rem;
            			overflow: hidden;
            			padding: 0;
            			white-space: nowrap;
            		}

            			input[type="submit"].icon.solo:before,
            			input[type="reset"].icon.solo:before,
            			input[type="button"].icon.solo:before,
            			button.icon.solo:before,
            			.button.icon.solo:before {
            				position: absolute;
            				display: block;
            				top: 0;
            				left: 0;
            				width: inherit;
            				height: inherit;
            				line-height: inherit;
            				font-size: 1.25rem;
            				margin-right: 0;
            				text-align: center;
            				text-indent: 0;
            			}

            		input[type="submit"].fit,
            		input[type="reset"].fit,
            		input[type="button"].fit,
            		button.fit,
            		.button.fit {
            			width: 100%;
            		}

            		input[type="submit"].small,
            		input[type="reset"].small,
            		input[type="button"].small,
            		button.small,
            		.button.small {
            			font-size: 0.7rem;
            			height: 2.5rem;
            			line-height: 2.5rem;
            			padding: 0 1.5rem;
            		}

            		input[type="submit"].large,
            		input[type="reset"].large,
            		input[type="button"].large,
            		button.large,
            		.button.large {
            			font-size: 0.9rem;
            			height: 3.5rem;
            			line-height: 3.5rem;
            			padding: 0 2.75rem;
            		}

            		@media screen and (max-width: 980px) {

            			input[type="submit"],
            			input[type="reset"],
            			input[type="button"],
            			button,
            			.button {
            				font-size: 0.9rem;
            				height: 3.25rem;
            				line-height: 3.25rem;
            			}

            				input[type="submit"].large,
            				input[type="reset"].large,
            				input[type="button"].large,
            				button.large,
            				.button.large {
            					font-size: 1rem;
            					height: 3.75rem;
            					line-height: 3.75rem;
            				}

            		}

            		input[type="submit"].disabled, input[type="submit"]:disabled,
            		input[type="reset"].disabled,
            		input[type="reset"]:disabled,
            		input[type="button"].disabled,
            		input[type="button"]:disabled,
            		button.disabled,
            		button:disabled,
            		.button.disabled,
            		.button:disabled {
            			pointer-events: none;
            			opacity: 0.25;
            		}

            	input[type="submit"],
            	input[type="reset"],
            	input[type="button"],
            	button,
            	.button {
            		background-color: transparent;
            		box-shadow: inset 0 0 0 2px #212931;
            		color: #212931 !important;
            	}

            		input[type="submit"]:hover,
            		input[type="reset"]:hover,
            		input[type="button"]:hover,
            		button:hover,
            		.button:hover {
            			box-shadow: inset 0 0 0 2px #18bfef;
            			color: #18bfef !important;
            		}

            		input[type="submit"].primary,
            		input[type="reset"].primary,
            		input[type="button"].primary,
            		button.primary,
            		.button.primary {
            			background-color: #212931;
            			box-shadow: none;
            			color: #ffffff !important;
            		}

            			input[type="submit"].primary:hover,
            			input[type="reset"].primary:hover,
            			input[type="button"].primary:hover,
            			button.primary:hover,
            			.button.primary:hover {
            				background-color: #18bfef;
            			}



                  * Form */

                  	form {
                  		margin: 0 0 2rem 0;
                  	}

                  		form > :last-child {
                  			margin-bottom: 0;
                  		}

                  		form > .fields {
                  			display: -moz-flex;
                  			display: -webkit-flex;
                  			display: -ms-flex;
                  			display: flex;
                  			-moz-flex-wrap: wrap;
                  			-webkit-flex-wrap: wrap;
                  			-ms-flex-wrap: wrap;
                  			flex-wrap: wrap;
                  			width: calc(100% + 3rem);
                  			margin: -1.5rem 0 2rem -1.5rem;
                  		}

                  			form > .fields > .field {
                  				-moz-flex-grow: 0;
                  				-webkit-flex-grow: 0;
                  				-ms-flex-grow: 0;
                  				flex-grow: 0;
                  				-moz-flex-shrink: 0;
                  				-webkit-flex-shrink: 0;
                  				-ms-flex-shrink: 0;
                  				flex-shrink: 0;
                  				padding: 1.5rem 0 0 1.5rem;
                  				width: calc(100% - 1.5rem);
                  			}

                  				form > .fields > .field.half {
                  					width: calc(50% - 0.75rem);
                  				}

                  				form > .fields > .field.third {
                  					width: calc(100%/3 - 0.5rem);
                  				}

                  				form > .fields > .field.quarter {
                  					width: calc(25% - 0.375rem);
                  				}

                  		@media screen and (max-width: 480px) {

                  			form > .fields {
                  				width: calc(100% + 3rem);
                  				margin: -1.5rem 0 2rem -1.5rem;
                  			}

                  				form > .fields > .field {
                  					padding: 1.5rem 0 0 1.5rem;
                  					width: calc(100% - 1.5rem);
                  				}

                  					form > .fields > .field.half {
                  						width: calc(100% - 1.5rem);
                  					}

                  					form > .fields > .field.third {
                  						width: calc(100% - 1.5rem);
                  					}

                  					form > .fields > .field.quarter {
                  						width: calc(100% - 1.5rem);
                  					}

                  		}

                  	label {
                  		display: block;
                  		font-family: "Source Sans Pro", Helvetica, sans-serif;
                  		font-weight: 900;
                  		line-height: 1.5;
                  		letter-spacing: 0.075em;
                  		font-size: 0.8rem;
                  		text-transform: uppercase;
                  		margin: 0 0 0.75rem 0;
                  	}

                  		@media screen and (max-width: 980px) {

                  			label {
                  				font-size: 0.9rem;
                  			}

                  		}

                  	input[type="text"],
                  	input[type="password"],
                  	input[type="email"],
                  	select,
                  	textarea {
                  		-moz-appearance: none;
                  		-webkit-appearance: none;
                  		-ms-appearance: none;
                  		appearance: none;
                  		background: white;
                  		border-radius: 0;
                  		border: solid 2px;
                  		color: inherit;
                  		outline: 0;
                  		padding: 0 1rem;
                  		text-decoration: none;
                  		width: 50%;
                      font-size: 16px;

                  	}

                  		input[type="text"]:invalid,
                  		input[type="password"]:invalid,
                  		input[type="email"]:invalid,
                  		select:invalid,
                  		textarea:invalid {
                  			box-shadow: none;
                  		}

                  	select {
                  		background-size: 1.25rem;
                  		background-repeat: no-repeat;
                  		background-position: calc(100% - 1rem) center;
                  		height: 3rem;
                  		padding-right: 3rem;
                  		text-overflow: ellipsis;
                  	}

                  		select:focus::-ms-value {
                  			background-color: transparent;
                  		}

                  		select::-ms-expand {
                  			display: none;
                  		}

                  	input[type="text"],
                  	input[type="password"],
                  	input[type="email"],
                  	select {
                  		height: 3rem;
                  	}

                  	textarea {
                  		padding: 0.75rem 1rem;
                  	}

                  	input[type="checkbox"],
                  	input[type="radio"] {
                  		-moz-appearance: none;
                  		-webkit-appearance: none;
                  		-ms-appearance: none;
                  		appearance: none;
                  		display: block;
                  		float: left;
                  		margin-right: -2rem;
                  		opacity: 0;
                  		width: 1rem;
                  		z-index: -1;
                  	}

                  		input[type="checkbox"] + label,
                  		input[type="radio"] + label {
                  			text-decoration: none;
                  			cursor: pointer;
                  			display: inline-block;
                  			font-size: 1rem;
                  			letter-spacing: 0;
                  			font-family: "Merriweather", Georgia, serif;
                  			text-transform: none;
                  			font-weight: 300;
                  			padding-left: 2.8rem;
                  			padding-right: 1rem;
                  			position: relative;
                  		}

                  			input[type="checkbox"] + label:before,
                  			input[type="radio"] + label:before {
                  				-moz-osx-font-smoothing: grayscale;
                  				-webkit-font-smoothing: antialiased;
                  				display: inline-block;
                  				font-style: normal;
                  				font-variant: normal;
                  				text-rendering: auto;
                  				line-height: 1;
                  				text-transform: none !important;
                  				font-family: 'arial';
                  				font-weight: 900;
                  			}

                  			input[type="checkbox"] + label:before,
                  			input[type="radio"] + label:before {
                  				border-radius: 0;
                  				border: solid 2px;
                  				content: '';
                  				display: inline-block;
                  				font-size: 0.8rem;
                  				height: 1.8rem;
                  				left: 0;
                  				line-height: 1.65rem;
                  				position: absolute;
                  				text-align: center;
                  				top: -0.125rem;
                  				width: 1.8rem;
                  			}

                  		input[type="checkbox"]:checked + label:before,
                  		input[type="radio"]:checked + label:before {
                  			content: '\f00c';
                  		}

                  	input[type="checkbox"] + label:before {
                  		border-radius: 0;
                  	}

                  	input[type="radio"] + label:before {
                  		border-radius: 100%;
                  	}

                  	::-webkit-input-placeholder {
                  		opacity: 1.0;
                  	}

                  	:-moz-placeholder {
                  		opacity: 1.0;
                  	}

                  	::-moz-placeholder {
                  		opacity: 1.0;
                  	}

                  	:-ms-input-placeholder {
                  		opacity: 1.0;
                  	}

                  	label {
                  		color: #212931;
                  	}

                  	input[type="text"],
                  	input[type="password"],
                  	input[type="email"],
                  	select,
                  	textarea {
                  		border-color: #eeeeee;
                  	}

                  		input[type="text"]:focus,
                  		input[type="password"]:focus,
                  		input[type="email"]:focus,
                  		select:focus,
                  		textarea:focus {
                  			border-color: #18bfef;
                  		}

                  	select {
                  		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23eeeeee' /%3E%3C/svg%3E");
                  	}

                  		select option {
                  			background-color: #ffffff;
                  			color: #212931;
                  		}

                  	.select-wrapper:before {
                  		color: #eeeeee;
                  	}

                  	input[type="checkbox"] + label,
                  	input[type="radio"] + label {
                  		color: #212931;
                  	}

                  		input[type="checkbox"] + label:before,
                  		input[type="radio"] + label:before {
                  			border-color: #eeeeee;
                  		}

                  	input[type="checkbox"]:checked + label:before,
                  	input[type="radio"]:checked + label:before {
                  		background-color: #212931;
                  		border-color: #212931;
                  		color: #ffffff;
                  	}

                  	input[type="checkbox"]:focus + label:before,
                  	input[type="radio"]:focus + label:before {
                  		border-color: #18bfef;
                  	}

                  	::-webkit-input-placeholder {
                  		color: #909498 !important;
                  	}

                  	:-moz-placeholder {
                  		color: #909498 !important;
                  	}

                  	::-moz-placeholder {
                  		color: #909498 !important;
                  	}

                  	:-ms-input-placeholder {
                  		color: #909498 !important;
                  	}

                  	.formerize-placeholder {
                  		color: #909498 !important;
                  	}
